Projet_Cinema_Client/Connected Services/ServRefAddress/AddressService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddressService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/AddressService/?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/AddressService/?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/AddressService/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/AddressService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Project_Cinema.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddressService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_get_list_address_InputMessage">
    <wsdl:part name="parameters" element="tns:get_list_address" />
  </wsdl:message>
  <wsdl:message name="IAddressService_get_list_address_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_list_addressResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Modify_InputMessage">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Modify_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddressService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/Add" message="tns:IAddressService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/AddResponse" message="tns:IAddressService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_list_address">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/get_list_address" message="tns:IAddressService_get_list_address_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/get_list_addressResponse" message="tns:IAddressService_get_list_address_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/Modify" message="tns:IAddressService_Modify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/ModifyResponse" message="tns:IAddressService_Modify_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAddressService" type="tns:IAddressService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IAddressService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_list_address">
      <soap:operation soapAction="http://tempuri.org/IAddressService/get_list_address" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://tempuri.org/IAddressService/Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressService">
    <wsdl:port name="BasicHttpBinding_IAddressService" binding="tns:BasicHttpBinding_IAddressService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/AddressService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>