Projet_Cinema_Client/Connected Services/ServRefAddress/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf_Project_Cinema.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf_Project_Cinema.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/AddressService/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="AddressLastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddressName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressPostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address_Phone" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="City" nillable="true" type="q1:City" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="Customers" nillable="true" type="q2:ArrayOfCustomer" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="Staffs" nillable="true" type="q3:ArrayOfStaff" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="Stores" nillable="true" type="q4:ArrayOfStore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
</xs:schema>